<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.golang.todo.invader"
	android:versionCode="1"
	android:versionName="1.0">

	<!-- In order to access the network, your application manifest must
	     specify the permission requirement. See the following page for
	     details.
	     http://developer.android.com/guide/topics/manifest/manifest-intro.html#perms -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:label="invader" android:debuggable="true">
	<activity android:name="org.golang.app.GoNativeActivity"
		android:label="invader"
		android:configChanges="orientation|keyboardHidden">
		<meta-data android:name="android.app.lib_name" android:value="invader" />
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
	</activity>
	</application>
</manifest>
